<h4>{{solicitation.title}}</h4>
<img {{bind-attr src=solicitation.imageUrl}}>
{{#if isDonating}}
    <p>{{solicitation.description}}</p>
    {{#unless isGiving}}{{#unless isSponsoring}}{{#unless isBuying}}
        <button {{action 'give'}}>Give In Person</button>
        <button {{action 'sponsor'}}>Sponsor</button>
        <button {{action 'buy'}}>Buy on Amazon</button>
    {{/unless}}{{/unless}}{{/unless}}
    {{#if isGiving}}
        {{#unless hasGiven}}{{#unless hasRequestedContact}}
            <p>Commit to an in-person delivery?</p>
            <h5>{{solicitation.charity.title}}</h5>
            <p>{{solicitation.charity.address}}</p>
            <h6>Hours</h6>
            <p>{{solicitation.charity.hours}}</p>
            <button {{action 'commit'}}>Okay, I&rsquo;ll deliver it</button>
            <button {{action 'contact'}}>I&rsquo;d like to be contacted to work out the details</button>
        {{/unless}}{{/unless}}
        {{#if hasGiven}}
            <h5>You&rsquo;re Awesome!</h5>
            <p>We&rsquo;ve sent you a confirmation email with directions to {{solicitation.charity.title}}.</p>
            <a href="http://TODO.example.com/">Share</a>
            <a href="http://TODO.example.com/">Tweet</a>
        {{/if}}
        {{#if hasRequestedContact}}
            <h5>{{solicitation.charity.title}} will be in touch!</h5>
        {{/if}}
    {{/if}}
    {{#if isSponsoring}}
        {{#if hasSponsored}}
            <h5>You&rsquo;re Awesome!</h5>
            <a href="http://TODO.example.com/">Share</a>
            <a href="http://TODO.example.com/">Tweet</a>
        {{else}}
            <label>
                Recommended amount
                {{input type="number" value=solicitation.value}}
            </label>
            <button {{action 'paypal' solicitation.value}}>Donate on PayPal</button>
        {{/if}}
    {{/if}}
    {{#if isBuying}}
        {{#if hasBought}}
            <h5>You&rsquo;re Awesome!</h5>
            <a href="http://TODO.example.com/">Share</a>
            <a href="http://TODO.example.com/">Tweet</a>
        {{/if}}
    {{/if}}
    <button {{action 'cancel'}}>{{cancelText}}</button>
{{else}}
    <button {{action 'donate'}}>Donate</button>
{{/if}}

